---
layout: archive
---

{{ content }}

<ul class="taxonomy__index">
  {% assign postsInYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
  {% for category in site.categories %}
  <span class="name"> {{ category | first }} </span> <span class="badge">{{ category | last | size }}</span>
    <ul>
      {% for post in category[1] limit:5 %}
        <li class="list-group-item"><a href="{{ post.url }}"{% if page.title==post.title %}  class="text-warning" {% endif %}>  {{ post.title | truncate:15 }}</a> </li>
      {% endfor %}
    </ul>
  {% endfor %}  
</ul>
  <section>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
